 html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  } 
   
  .water {
    background-image: linear-gradient(white, rgba(0,212,255,1));
    height: 100%;
  }


  .geography {
    position: relative;
    bottom: 190px; 
    left: 120px; 
    align-items: center;
    width: 80%; 
  }

  .title {
  font-family: 'Aboreto', cursive;
  position: relative;
  left: 550px;
  bottom: 80px;
  width:400px;
  }