html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  }
  
  body {
    margin: 0;
    padding: 0 1.5rem;
    background-color: lightgray;
  }
  
  svg {
    display: inline-block;
    vertical-align: middle;
  }

  .map {
    position: relative;
    margin-top: 100px;
    left: 200px;
    /* border: 2px solid black; */
    border-radius: 20px;
    background-image: linear-gradient(white, aqua);
    align-items: center;
    width: 1000px;
    height: 600px;
  }
  