html {
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
  }
  
  .water {
    margin: 0;
    padding: 0 1.5rem;
    background-image: linear-gradient(white, aqua);
  }
  
  svg {
    display: inline-block;
    vertical-align: middle;
  }

  .geography {
    position: relative;
    bottom: 180px;
    left: 120px;
    align-items: center;
    border-radius: 20px;
    width: 80%;
  }

  .title {
  font-family: 'Aboreto', cursive;
  position: relative;
  left: 550px;
  bottom: 80px;
  }