
.country-details {
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.individual-country {
    font-family: 'Aboreto', cursive;
    width: 334px;
    border: solid 1px black;
    border-radius: 10px;
    margin: 10px;
    padding-top: 10px;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,121,99,1) 30%, rgba(0,212,255,1) 100%);

}

.individual-country:hover {
    transform: scale(1.03);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;

}

@keyframes box-blinker {
    100% {
        border: solid 2px violet;
    } 
}

.country-name {
    text-align: center;
}
.country-text {
    justify-content: center;
}
.country-flag {
    width: 250px;
    height: 150px;
}
.country-name {
    margin: 0px;
}


#flag-section {
font-family: 'Aboreto', cursive;
position: relative;
left: 190px;
top: 125px;
padding-left: 20px;
padding-right: 20px;
margin-bottom: 50px;
background-color: cadetblue;
width: 298px;
height: 200px;
overflow-wrap: normal;
text-align: center;
border: 1px solid black;
border-radius: 10px;
}


.flag-button {
font-family: 'Aboreto', cursive;
font-size: 15px;
width: 100px;
height: 40px;
background-color: aquamarine;
border-radius: 10px;
border: 2px solid aquamarine;
animation: flag-blinker 2s linear infinite;
}
@keyframes flag-blinker {
    50% {
      background-color:blueviolet;
    }
}
.flag-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}