footer {
    position: relative;
    bottom: 80px;
    font-family: 'Aboreto', cursive;
    background-image: linear-gradient(to top, white, rgb(42, 218, 253));
    padding-top: 10px;
    padding-bottom: 100px;
} 


.footer-section {
    margin: 30px;
} 