footer {
    position: relative;
    font-family: 'Aboreto', cursive;
    background-image: linear-gradient(to top, rgba(2,0,36,1), rgba(0,212,255,1));
    padding-top: 10px;
    padding-bottom: 120px;
    /* top: 200px; */
} 


.footer-section {
    margin: 30px;
} 