.Navbar {
    display: flex;
    /* border: 2px solid black; */
}

ul {
    display: flex;
    justify-content: space-evenly;
    

}

li {
    list-style: none;
    padding-right: 30px;
}

.home {
    width: 30px;
    height: 30px;
}



.home:hover {
    transform:scale(1.1)
}

