.section {
  background-image: url("https://files.slack.com/files-pri/T0TN401HD-F03VA3S8QJD/brett-zeck-eyfmggvo9pa-unsplash.jpg");
}



.section > h4 {
    text-align: center;
    font-size: 25px;
    font-family: 'Aboreto', cursive;
}

.quiz-section {
    font-family: 'Aboreto', cursive;
    position: relative;
    left: 460px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    border: 2px solid  grey;
    border-radius: 10px;
    width: 400px;
    padding: 30px;
    background-image: linear-gradient(to bottom, aqua, white);
    margin-bottom: 30px;
}

.score {
    position: relative;
    left: 180px;
    bottom: 20px;
}


.question-image {
    height: 300px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px; 
}


.quiz-button {
    font-family: 'Aboreto', cursive;
    margin: 10px;
    color: black;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}



.quiz-button:hover {
    color: black;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    transform: scale(1.1);
    animation: blinker 2s linear infinite;
    cursor: pointer;
}



.timer {
    height: 50px;
    background: green;
    border-radius: 10px;
    width: 100%;
    animation: 15s timer linear;
  }
  
  @keyframes timer {
    100% {
      width: 0%;
      background: red;
    }
    50% {
      background: orange;
    }
    0% {
      width: 100%;
    }
  }




  .message {
    font-family: 'Aboreto', cursive;
    font-weight: bolder;
    position: relative;
    right: 20px;
    bottom: 145px;
    text-align: center;
    z-index: 1;
    color: red;
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      color: blue;
    }
  }